#masthead {
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	background-color: #bb1122;
	padding-top: 10px;
	padding-bottom: 10px;
}

.items {
	display: inline;
}

#modlink, #modlink:visited, #modlink-special {
	color: #ffffff;
	text-decoration: none;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 19px;
	font-family: "Gill Sans";
	font-size: 20px;
}

#modlink-special {
	font-weight: bold;
	float: left;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}

nav {
	float: right;
}

nav:first-child {
	border-left: 0 none;
}

aside {
	float: right;
}

.top-thing {
	margin-bottom: 100px;
	display: inline-block;
	border: 2px solid #111111;
	border-radius: 5px;
	background-color: #dddddd;
	margin-top: 55px;
	padding: 10px;
	float: left;
	width: 50%;
	margin-left: 50px;
	margin-right: 15px;
	height: 200px;

}

#me {
	height: 90px;
	width: 90px;
	margin-bottom: 30px;
	float: left;
}

.sidebar {
	padding: 20px;
	background-color: #22cc11;
	display: inline-block;
	border-radius: 5px;
	border: 4px inset #000000;
	float: right;
	margin-top: 65px;
	margin-right: 120px;
	height: 165px;

}

.right-info {
	float: right;
	margin-left: 70px;
}

#copy-center {
	text-align: center;
	top: 400px;
}

#smallsquare {
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}

#smallrect {
	width: 30.5px;
	height: 50px;
	margin-left: 5px;
}

#smallrect2 {
	height: 32.5px;
	width: 50px;
	margin-bottom: 4px;
}

#media {
	display: inline-block;
	position: center;
}

#me, #top-thing h1 {
	margin-left: 15px;
}

a, a:hover, a:visited {
	text-decoration: none;
}

.type {
	display: inline-block;
}

#con {
	margin-left: 5px;
}

#star {
	margin-left: 33px;
}

#toplink {
	background-color: #22dd44;
	display: inline;
	padding: 10px;
	z-index: 30;
	position: absolute;
	margin-top: 70px;
}

h1, h2 {
	font-family: "Avenir Next";
}

#box {
	margin-top: 20px;
}